html, body {
  height: 720px;
  width: 1280px;
}
body {
  color: darkgray;
  font-family: "Andale Mono", monospace;
  background: #ECF2FF;
}

h1 {
  color: #3E54AC;
}

h2 {
  color: black;
}

h3 {
  color: #655DBB;
}

ul {
  color: #BFACE2;
}

p {
  color: #BFACE2;
}
